# Disallow accessing anything in the directory other than ./upload.php
Order allow,deny
Deny from all
<FilesMatch ^\/?upload\.php$>
    Allow from all
</FilesMatch>

php_value upload_max_filesize 50M
php_value post_max_size 50M
